* {
    margin: 0;
}

body {
    background-color: #000000;
}

#welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 50px;
}

p {
    color: white;
    font-size: 75%;
    margin-bottom: 75px;
}
div {
    width: 100%;
}

.button {
    width: 50%;
    margin: 15px auto;
}

#third-button {
    display: none;
}

#bartender-image {
    margin-top: 15px;
    max-width: 97.5%;
}

.dice-images {
    display: none;
    width: 20%;
    margin-top: -25%;
}

#table-image {
    display: none;
}

@media screen and (min-width: 375px) {
    #bartender-image {
        max-width: 80%;
    }
}

@media screen and (min-width: 768px) {
    #bartender-image {
        max-width: 40%;
    }
}

@media screen and (min-width: 768px) {
    #bartender-image {
        max-width: 30%;
    }
}